<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkZvb3RtYXRoIiwi
		cGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlv
		bnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9
		XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJGb290bWF0aCIsInNldHRpbmdzIjpb
		eyJidW5kbGVJZGVudGlmaWVyIjpbImNvbS5ndWkuRm9vdG1hdGgiXX0seyJ0
		ZWFtSWRlbnRpZmllciI6WyI4SlRROU00SjY5Il19LHsiZGlzcGxheVZlcnNp
		b24iOlsiMS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBw
		SW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0
		Q29sb3IiOnsicmF3VmFsdWUiOiJncmVlbiJ9fX0sImFwcENhdGVnb3J5Ijp7
		InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5zcG9ydHMtZ2FtZXMi
		fSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2Fw
		YWJpbGl0aWVzIjpbXSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFk
		IiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpb
		eyJwb3J0cmFpdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7fX1dfV19
		XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxl
		IjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVu
		Y2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGFj
		a2FnZUFjY2VzcyI6ZmFsc2UsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJw
		YXRoIjoiOC1iaXQgQXJjYWRlIEluLnR0ZiIsInJ1bGUiOnsiY29weSI6e319
		fSx7InBhdGgiOiJNaW5lY3JhZnRpYS1SZWd1bGFyLnR0ZiIsInJ1bGUiOnsi
		Y29weSI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL1NvdW5kc1wvY2xpY2st
		Ym90YW8ubXAzIiwicnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6IlJlc291
		cmNlc1wvU291bmRzXC9zb2NjZXIta2ljay5tcDMiLCJydWxlIjp7ImNvcHki
		Ont9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9Tb3VuZHNcL2xhdGluLW11c2lj
		Lm1wMyIsInJ1bGUiOnsiY29weSI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNc
		L1NvdW5kc1wvbWlzc2VkLWdvYWwubXAzIiwicnVsZSI6eyJjb3B5Ijp7fX19
		LHsicGF0aCI6IlJlc291cmNlc1wvU291bmRzXC9zb2NjZXItc3RhZGl1bS5t
		cDMiLCJydWxlIjp7ImNvcHkiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9T
		b3VuZHNcL2dvYWwtc2NyZWFtLm1wMyIsInJ1bGUiOnsiY29weSI6e319fSx7
		InBhdGgiOiJSZXNvdXJjZXNcL1NvdW5kc1wvYXBpdG8tZnV0ZWJvbC5tcDMi
		LCJydWxlIjp7ImNvcHkiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9Tb3Vu
		ZHNcL3NwYWNlLXNvdW5kLm1wMyIsInJ1bGUiOnsiY29weSI6e319fSx7InBh
		dGgiOiJSZXNvdXJjZXNcL1NvdW5kc1wvcm9ja2V0LXNvdW5kLm1wMyIsInJ1
		bGUiOnsiY29weSI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL1NvdW5kc1wv
		Y2hhbGstYmxhY2stYm9hcmQubXAzIiwicnVsZSI6eyJjb3B5Ijp7fX19XSwi
		c2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6
		W3siZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBN
		b2R1bGUiLCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6Ii4iLCJyZXNv
		dXJjZXMiOlt7InBhdGgiOiI4LWJpdCBBcmNhZGUgSW4udHRmIiwicnVsZSI6
		eyJjb3B5Ijp7fX19LHsicGF0aCI6Ik1pbmVjcmFmdGlhLVJlZ3VsYXIudHRm
		IiwicnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvU291
		bmRzXC9jbGljay1ib3Rhby5tcDMiLCJydWxlIjp7ImNvcHkiOnt9fX0seyJw
		YXRoIjoiUmVzb3VyY2VzXC9Tb3VuZHNcL3NvY2Nlci1raWNrLm1wMyIsInJ1
		bGUiOnsiY29weSI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL1NvdW5kc1wv
		bGF0aW4tbXVzaWMubXAzIiwicnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6
		IlJlc291cmNlc1wvU291bmRzXC9taXNzZWQtZ29hbC5tcDMiLCJydWxlIjp7
		ImNvcHkiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9Tb3VuZHNcL3NvY2Nl
		ci1zdGFkaXVtLm1wMyIsInJ1bGUiOnsiY29weSI6e319fSx7InBhdGgiOiJS
		ZXNvdXJjZXNcL1NvdW5kc1wvZ29hbC1zY3JlYW0ubXAzIiwicnVsZSI6eyJj
		b3B5Ijp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvU291bmRzXC9hcGl0by1m
		dXRlYm9sLm1wMyIsInJ1bGUiOnsiY29weSI6e319fSx7InBhdGgiOiJSZXNv
		dXJjZXNcL1NvdW5kc1wvc3BhY2Utc291bmQubXAzIiwicnVsZSI6eyJjb3B5
		Ijp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvU291bmRzXC9yb2NrZXQtc291
		bmQubXAzIiwicnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6IlJlc291cmNl
		c1wvU291bmRzXC9jaGFsay1ibGFjay1ib2FyZC5tcDMiLCJydWxlIjp7ImNv
		cHkiOnt9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1d
		LCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		aHxPRORBNKrx/YLKml59c60OgDm3BERyxLckm1Ecm98=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
